/* styles.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

.container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#playlist-selector {
  margin-top: 20px;
}
